{% extends "flightfinder/layout.html" %}

{% block body %}
{{ origin }} to {{ destination }}
<br>
  {% for flight in page_obj %}
------------Offer {{ flight.id }}------------
    {% for itinerary in flight.itineraries %}
      {% if forloop.first %}
        <div class="container border">
          <div class="row">
            <div class="col">
            </div>
            <div class="col-8 text-center">
              -----------Outbound Journey-----------
            </div>
            <div class="col">
            </div>
          </div>
        <br><br>
      {% endif %}
      {% if forloop.last %}
          <div class="row">
            <div class="col">
            </div>
            <div class="col-8 text-center">
              -----------Return Journey-----------
            </div>
            <div class="col">
            </div>
        <br><br>
      {% endif %}
      {% for segment in itinerary.segments %}
        {% if forloop.counter == 1 %}
          Flight 1
          <div class="container border">
            <div class="row">
              <div class="col-6 text-center border">
                Departing:
                <br>
                {{ segment.departure.iataCode }}
                <br>
                {{ segment.departure.at }}
              </div>
              <div class="col-6 text-center border">
                Arriving:
                <br>
                {{ segment.arrival.iataCode }}
                <br>
                {{ segment.arrival.at }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-center border">
                Airline:
                <br>
                {{ segment.operating.carrierCode }}
              </div>
              <div class="col-3 text-center border">
                Aircraft:
                <br>
                {{ segment.aircraft.code }}
              </div>
              <div class="col-3 text-center border">
                Flight No:
                <br>
                {{ segment.number }}
              </div>
              <div class="col-3 text-center border">
                Duration: 
                <br>
                {{ segment.duration }}
              </div>
            </div>
          </div>
          <br><br>
        {% endif %}
        {% if forloop.counter == 2 %}
        Flight 2
        <div class="container border">
          <div class="row">
            <div class="col-6 text-center border">
              Departing:
              <br>
              {{ segment.departure.iataCode }}
              <br>
              {{ segment.departure.at }}
            </div>
            <div class="col-6 text-center border">
              Arriving:
              <br>
              {{ segment.arrival.iataCode }}
              <br>
              {{ segment.arrival.at }}
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-center border">
              Airline:
              <br>
              {{ segment.operating.carrierCode }}
            </div>
            <div class="col-3 text-center border">
              Aircraft:
              <br>
              {{ segment.aircraft.code }}
            </div>
            <div class="col-3 text-center border">
              Flight No:
              <br>
              {{ segment.number }}
            </div>
            <div class="col-3 text-center border">
              Duration: 
              <br>
              {{ segment.duration }}
            </div>
          </div>
        </div>
        <br><br>      
        {% endif %}
      {% endfor %}
    {% endfor %}
  {{ price.total }} {{ price.currency }}
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}