{% extends "flightfinder/layout.html" %}

{% block body %}
<div id="mainhomepagediv">
    <div class="container-fluid px-0" id="mainhomepagediv">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <img src="https://i.ibb.co/rHYzcyc/Landscape2.jpg" class="img-fluid w-100">
            </div>
        </div>
    </div>
    <div>
        <h1 id="homepageh1">Where are you flying to?</h1>
        <div id="homepagebox">
            <div>
                <form id="homepageform" method="POST">
                    <div class="row">
                      <div class="col">
                        <label id="homepageformlabel">From</label>
                        <input type="text" class="form-control" placeholder="Origin city" id="inputOrigin">
                      </div>
                      <div class="col pb-3">
                        <label id="homepageformlabel">To</label>
                        <input type="text" class="form-control" placeholder="Destination city">
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <label id="homepageformlabel">Depart</label>
                          <input type="date" class="form-control" placeholder="Origin city">
                        </div>
                        <div class="col">
                            <label id="homepageformlabel">Return</label>
                            <input type="date" class="form-control" placeholder="Destination city">
                          </div>
                        <div class="col-6">
                          <label id="homepageformlabel">Class</label>
                          <select id="inputState" class="form-control">
                            <option selected>Economy</option>
                            <option>Business</option>
                            <option>First</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                        </div>
                        <div class="col-3 pt-3">
                            <button class="btn float-right" id="homepageformbutton" type="submit">Search flights</button>
                        </div>
                      </div>
                  </form>
            </div>
        </div>
    </div>
</div>    
{% endblock %}